<div id="floor_two_nav">
    <i></i>
    <div class="star">
        <h3>星级酒店</h3>
        <ul>
            <% floor['nav']['star'].forEach(function(item){ %>
                <li>
                <a href="<%- item['url'] %>"><%- item['name'] %></a>
                </li>
            <% }) %>
        </ul>
    </div>
    <div class="theme">
        <h3>主题酒店</h3>
        <ul>
            <% floor['nav']['theme'].forEach(function(item){ %>
                <li>
                <a href="<%- item['url'] %>"><%- item['name'] %></a>
                </li>
            <% }) %>
        </ul>
    </div>
</div>