<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/lib/require.js" data-main="js/app"></script>

</head>

<body>



<script></script>
<div class="container">
    <form action="" class="form-inline">
        <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" placeholder="Amout">
            <div class="input-group-addon">.00</div>
        </div>
        <div class="checkbox">
            <label for="checkbox">
                <input type="checkbox" id="checkbox" class="form-control">agree
            </label>
        </div>
        <div class="form-group">
            
            <div class="btn-group">
                <button type="button" class="btn btn-default">Left</button>
                <button type="button" class="btn btn-default">Middle</button>
                <button type="button" class="btn btn-default">Right</button>
            </div>
            
        </div>
    </form>
</div>

    <!--<div class="container">
        <form action="" method="GET" class="form-inline">
            <div class="form-group">
                <label for="name"  class="sr-only">name:</label>
                <input type="text" class="form-control" id="name" placeholder="hello">
            </div>
            <div class="form-group">
                <label for="name" class="sr-only">name:</label>
                <input type="password" class="form-control" id="name" placeholder="hello">
            </div>
            <div class="form-group">
                <label for="input1" class="sr-only">input1</label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="text" placeholder="Amount" class="form-control">
                    <div class="input-group-addon">.00</div>
                </div>
            </div>

            <div class="btn-group">
                <button class="btn btn-info">hello</button>
                <button class="btn btn-info">hello</button>
                <button class="btn btn-info">hello</button>
            </div>
            
            <button type="button" class="btn btn-success">button</button>
            
        </form>
    </div>-->

    <!--<div class="container">
    <form action="" method="get" class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="name">name</label>
        <input placeholder="name" type="text" id="name" class="form-control">
    </div>
    <div class="form-group">
        <label class="sr-only" for="password">password</label>
        <input placeholder="password" type="password" class="form-control" id="password">
    </div>
    <div class="form-group">
        <label class="sr-only" for="file">file</label>
        <input type="file" class="form-control" id="file">
        <p class="help-block">hello world</p>
    </div>
    <div class="checkbox">
        <label for="checkbox" >
            <input type="checkbox" id="checkbox">checkbox
        </label>
    </div>
    <button type="submit" class="btn btn-default">submit</button>
    
</form>
</div>-->

    <!--
<div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
        </tbody>
      </table>
    </div>
-->
    <!--
<div class="table-responsive">
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-condensed">
    <tbody>
        <tr class="active">
        <td>list-first</td>
        <td>list-first</td>
        <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
    </tr>
    <tr class="success">
        <td>list-first</td>
        <td>list-first</td>
        <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
    </tr>
    <tr class="info">
        <td>list-first</td>
        <td>list-first</td>
        <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
    </tr>
    <tr class="warning">
        <td>list-first</td>
        <td>list-first</td>
        <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
    </tr>
    <tr class="danger">
        <td>list-first</td>
        <td>list-first</td>
        <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
    </tr>
    <tr>
        <td>list-first</td>
        <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
        <td>list-first</td>
    </tr>
    </tbody>
</table>
</div>
-->

    <!--<p>hello <kbd>haha</kbd></p>-->

    <!--
<ul class="list-inline">
    <li>hello world</li>
    <li>hello world</li>
    <li>hello world</li>
</ul>
-->

    <!--
<div class="container">
    <blockquote class="blockquote-reverse">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer>wmsj100</footer>
</blockquote>
</div>
-->

    <!--
<address>
    <strong>WMSJ</strong><<br>
    <abbr title="phone">P:</abbr>
</address>
-->

    <!--<abbr title="word wide web">www</abbr>-->
    <!--
<p class="text-left">text-align</p>
<p class="text-right">text-align</p>
<p class="text-center">text-align</p>
-->

    <!--
<p>This line of <strong>hello wrold</strong> text is <span class="lead">hello world</span> meant to be treated as fine prin</p>
    <p><small>This line of <b>hello</b> <em>world</em> <i>italic</i> text is meant to be treated as fine prin</small></p>
<p class="small">This line of text is meant to be treated as fine prin</p>
-->

    <!--
<p>Nullam quis risus <mark>hello world</mark> ornare vel <del>hello world</del> eu leo. Cum sociis natoque penatibus et magnis dis <u>underline</u> parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
<p class="lead">Nullam quis <mark>hello world</mark> risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
-->

    <!--
<div class="container">
    <h1>hello world<small>hello world</small></h1>
    <h2>hello world<small>hello world</small></h2>
</div>
-->

    <!--
<div class="container">
    <div class="row">
        <div class="col-sm-9 col col-sm-push-3"></div>
        <div class="col-sm-3 col col-sm-pull-9"></div>
    </div>
</div>
-->

    <!--
<div class="container">
    <div class="row">
        <div class="col-sm-3 col"></div>
        <div class="col-sm-3 col"></div>
        <div class="col-sm-3 col">
            <div class="row">
                <div class="col-sm-3 col1"></div>
                <div class="col-sm-3 col1"></div>
                <div class="col-sm-3 col1"></div>
                <div class="col-sm-3 col1"></div>
            </div>
        </div>
        <div class="col-sm-3 col"></div>
    </div>
</div>
-->

    <!--
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col col-sm-offset-2"></div>
        </div>
    </div>
-->

    <!--    <div class="container">-->
    <!--
        <div class="row">
            <div class="col-sm-3 col"></div>
            <div class="col-sm-3 col"></div>
            <div class="col-sm-3 col"></div>
            <div class="col-sm-3 col"></div>
        </div>
-->

    <!--
    <div class="row">
      <div class="col-xs-6 col-sm-4 col">.col-xs-6 .col-sm-4</div>
      <div class="col-xs-6 col-sm-4 col">.col-xs-6 .col-sm-4</div>
      <div class="col-xs-6 col-sm-4 col">.col-xs-6 .col-sm-4</div>
    </div>
-->

    <!--
    <div class="row">
      <div class="col-sm-3 col-xs-6 col"></div>
      <div class="col-sm-3 col-xs-6 col col1"></div>
      <div class="clearfix visible-xs-block"></div>
      <div class="col-sm-3 col-xs-6 col"></div>
      <div class="col-sm-3 col-xs-6 col"></div>
    </div>
-->
    <!--    </div>-->
</body>

</html>