<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="css/app.css">
</head>
<body>
	<%- include pub/topbar %>

	<script data-main="js/app" src="js/lib/require.js"></script>
</body>
</html>