<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="css/app.css">
</head>
<body>
	<style>
	body{
		min-height: 1200px;
	}
	</style>
	<%- include page/topbar %>
	<%- include page/rightbar %>

	<script data-main="js/app" src="js/lib/require.js"></script>
</body>
</html>