.clearfix {
    display: block;
    zoom: 1;
    &:after {
        content: "";
        display: block;
        clear: both;
        font-size: 0;
        height: 0;
        visibility: hidden;
    }
}
#header{
    @logoW: 190px;
    @logoH: 59px;
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    border: solid 1px;
    .clearfix;
    &>div.logo{
        float: left;
        border: solid 1px;
        &>a{
            display: block;
            width: @logoW;
            height: @logoH;
            background: url(../img/common/sprite.png) -0px -240px no-repeat;
        }
    }
    &>div.city{
        float: left;
    }
    &>div.search{
        float: right;
    }
}