@import url('./app/model/default');  /* 引入页面默认样式*/
@import url('./app/common/topBar');  /*引入顶部topBar样式*/
@import url('./app/common/rightBar');  /*引入侧边栏样式*/
@import url('./app/common/header');     /*引入header样式*/
@import url('./app/common/navBar');     /*引入navBar导航栏样式*/
@import url('./app/common/carousel');     /*引入carousel轮播样式*/
@import url('./app/common/process');     /*引入process婚礼流程样式*/
@import url('./app/common/floor');     /*引入floor楼层样式*/

div#container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

