<div id="right_bar">
    <ul>
        <li class="qq_icon">
            <div class="qq_tab">
                <div class="qq_tab_logo">
                    <a href="#" class="logo"></a>
                </div>
                <div class="qq_tab_cont">
                    <h3>在线客服</h3>
                    <ul>
                        <li><span>客服1</span><a href=""><i></i></a></li>
                        <li><span>客服2</span><a href=""><i></i></a></li>
                        <li><span>客服3</span><a href=""><i></i></a></li>
                    </ul>
                </div>
                <div class="qq_tab_foot">
                    <h3>工作时间</h3>
                    <p>周一 至 周六</p>
                    <p>09:00 - 18:00</p>
                </div>
            </div>
        </li>
            
        <li class="qr_code_icon">
           <div class="qr_code_img"></div> 
        </li>
        <li class="gotop"></li>
    </ul>
</div>