<div id="topbar">
	<div class="ct">
		<div class="menu">
			<ul>
				<% topbar.forEach(function(item){ %>
				<li>
					<i></i>
					<a href="<%- item['url'] %>"><%- item["value"] %></a>
				</li>
				<% }) %>
			</ul>
		</div>
		<div class="mobile">
			<div class="top_tag">
				<i></i>
				<a href="<%- mobile['url'] %>"><%- mobile['value'] %></a>
			</div>
			<div class="imgbox">
				<ul>
					<li>
						<img src="img/common/android.png" alt="安卓App">
						<span>安卓App</span>
					</li>
					<li>
						<img src="img/common/ios.png" alt="苹果App">
						<span>苹果App</span>
					</li>
				</ul>

			</div>
		</div>
	</div>
</div>