.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#right_bar {
  width: 35px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #000;
  color: red;
}
div#right_bar ul {
  display: block;
  zoom: 1;
  position: relative;
  top: 70%;
  right: 0;
}
div#right_bar ul:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#right_bar ul li {
  float: left;
}
div#right_bar ul li div.rightbar_img {
  width: 35px;
  height: 35px;
}
div#right_bar ul li:nth-child(1) > :first-child {
  background: url(../img/common/sprite.png) -400px -140px no-repeat;
}
div#right_bar ul li:nth-child(1) > :first-child:hover {
  background: url(../img/common/sprite.png) -400px -175px no-repeat;
}
div#right_bar ul li:nth-child(2) > :first-child {
  background: url(../img/common/sprite.png) -400px -35px no-repeat;
}
div#right_bar ul li:nth-child(2) > :first-child:hover {
  background: url(../img/common/sprite.png) -400px -70px no-repeat;
}
div#right_bar ul li:nth-child(3) > :first-child {
  background: url(../img/common/sprite.png) -400px 0px no-repeat;
}
div#right_bar ul li:nth-child(3) > :first-child:hover {
  background: url(../img/common/sprite.png) -400px -105px no-repeat;
}
