.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#topbar {
  width: 100%;
  background-color: #F1F1F1;
}
div#topbar div.ct {
  width: 1200px;
  height: 30px;
  margin: 0 auto;
}
div#topbar div.ct div.menu {
  margin-left: 30px;
}
div#topbar div.ct div.menu ul {
  display: block;
  zoom: 1;
}
div#topbar div.ct div.menu ul:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#topbar div.ct div.menu ul li {
  float: left;
  line-height: 30px;
  margin-right: 40px;
  position: relative;
}
div#topbar div.ct div.menu ul li i {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 10px;
  left: -15px;
}
div#topbar div.ct div.menu ul li:nth-child(1) i {
  background: url(../img/common/sprite.png) -400px -84px no-repeat;
}
div#topbar div.ct div.menu ul li:nth-child(2) i {
  background: url(../img/common/sprite.png) -436px -84px no-repeat;
}
div#topbar div.ct div.menu ul li:nth-child(3) i {
  background: url(../img/common/sprite.png) -412px -84px no-repeat;
}
div#topbar div.ct div.menu ul li:nth-child(4) i {
  background: url(../img/common/sprite.png) -424px -84px no-repeat;
}
div#topbar div.ct div.menu ul li a {
  color: #8D8D8D;
}
div#topbar div.ct div.menu ul li a:hover {
  color: #FD2D63;
  text-decoration: underline;
}
