<div id="floor_two_nav">
    <i></i>
    <% floor['nav']['count'].forEach(function(item){ %>
        <div class="list_wrap">
        <h3><%- item['name'] %></h3>
        <ul>
            <% item['info'].forEach(function(data){ %>
                <li>
                <a href="<%- data['url'] %>"><%- data['name'] %></a>
                </li>
            <% }) %>
        </ul>
    </div>
    <% }) %>
</div>