good5 {
background: url(../img/common/sprite.png) -0px -0px no-repeat;
height: 80px;
width: 120px;
}
good6 {
background: url(../img/common/sprite.png) -120px -0px no-repeat;
height: 80px;
width: 120px;
}
good3 {
background: url(../img/common/sprite.png) -0px -80px no-repeat;
height: 80px;
width: 120px;
}
good4 {
background: url(../img/common/sprite.png) -120px -80px no-repeat;
height: 80px;
width: 120px;
}
good8 {
background: url(../img/common/sprite.png) -0px -160px no-repeat;
height: 80px;
width: 120px;
}
good7 {
background: url(../img/common/sprite.png) -120px -160px no-repeat;
height: 80px;
width: 120px;
}
good2 {
background: url(../img/common/sprite.png) -240px -0px no-repeat;
height: 80px;
width: 120px;
}
th {
background: url(../img/common/sprite.png) -240px -80px no-repeat;
height: 68px;
width: 70px;
}
logo {
background: url(../img/common/sprite.png) -0px -240px no-repeat;
height: 59px;
width: 190px;
}
step {
background: url(../img/common/sprite.png) -0px -299px no-repeat;
height: 46px;
width: 336px;
}
logo_rightbar {
background: url(../img/common/sprite.png) -360px -0px no-repeat;
height: 40px;
width: 129px;
}
arrow07 {
background: url(../img/common/sprite.png) -360px -40px no-repeat;
height: 38px;
width: 17px;
}
arrow03 {
background: url(../img/common/sprite.png) -377px -40px no-repeat;
height: 38px;
width: 17px;
}
arrow08 {
background: url(../img/common/sprite.png) -394px -40px no-repeat;
height: 38px;
width: 17px;
}
arrow02 {
background: url(../img/common/sprite.png) -411px -40px no-repeat;
height: 38px;
width: 17px;
}
arrow01 {
background: url(../img/common/sprite.png) -428px -40px no-repeat;
height: 38px;
width: 17px;
}
arrow04 {
background: url(../img/common/sprite.png) -445px -40px no-repeat;
height: 38px;
width: 17px;
}
arrow06 {
background: url(../img/common/sprite.png) -462px -40px no-repeat;
height: 38px;
width: 17px;
}
arrow05 {
background: url(../img/common/sprite.png) -360px -78px no-repeat;
height: 38px;
width: 17px;
}
TOP_01 {
background: url(../img/common/sprite.png) -377px -78px no-repeat;
height: 35px;
width: 35px;
}
QQ2 {
background: url(../img/common/sprite.png) -412px -78px no-repeat;
height: 35px;
width: 35px;
}
TOP_02 {
background: url(../img/common/sprite.png) -447px -78px no-repeat;
height: 35px;
width: 35px;
}
erweima02 {
background: url(../img/common/sprite.png) -360px -116px no-repeat;
height: 35px;
width: 35px;
}
erweima01 {
background: url(../img/common/sprite.png) -395px -116px no-repeat;
height: 35px;
width: 35px;
}
QQ1 {
background: url(../img/common/sprite.png) -430px -116px no-repeat;
height: 35px;
width: 35px;
}
service_btn {
background: url(../img/common/sprite.png) -360px -151px no-repeat;
height: 23px;
width: 81px;
}
online {
background: url(../img/common/sprite.png) -360px -174px no-repeat;
height: 23px;
width: 81px;
}
nav1 {
background: url(../img/common/sprite.png) -465px -116px no-repeat;
height: 20px;
width: 20px;
}
nav2(1) {
background: url(../img/common/sprite.png) -441px -151px no-repeat;
height: 20px;
width: 20px;
}
nav2 {
background: url(../img/common/sprite.png) -461px -151px no-repeat;
height: 20px;
width: 20px;
}
right {
background: url(../img/common/sprite.png) -441px -174px no-repeat;
height: 20px;
width: 20px;
}
nav3 {
background: url(../img/common/sprite.png) -461px -174px no-repeat;
height: 20px;
width: 20px;
}
nav4(1) {
background: url(../img/common/sprite.png) -360px -197px no-repeat;
height: 20px;
width: 20px;
}
nav4 {
background: url(../img/common/sprite.png) -380px -197px no-repeat;
height: 20px;
width: 20px;
}
nav5(1) {
background: url(../img/common/sprite.png) -400px -197px no-repeat;
height: 20px;
width: 20px;
}
nav5 {
background: url(../img/common/sprite.png) -420px -197px no-repeat;
height: 20px;
width: 20px;
}
nav3(1) {
background: url(../img/common/sprite.png) -440px -197px no-repeat;
height: 20px;
width: 20px;
}
nav7 {
background: url(../img/common/sprite.png) -460px -197px no-repeat;
height: 20px;
width: 20px;
}
nav8 {
background: url(../img/common/sprite.png) -360px -217px no-repeat;
height: 20px;
width: 20px;
}
nav10 {
background: url(../img/common/sprite.png) -380px -217px no-repeat;
height: 20px;
width: 20px;
}
nav20 {
background: url(../img/common/sprite.png) -400px -217px no-repeat;
height: 20px;
width: 20px;
}
nav30 {
background: url(../img/common/sprite.png) -420px -217px no-repeat;
height: 20px;
width: 20px;
}
nav40 {
background: url(../img/common/sprite.png) -440px -217px no-repeat;
height: 20px;
width: 20px;
}
nav50 {
background: url(../img/common/sprite.png) -460px -217px no-repeat;
height: 20px;
width: 20px;
}
nav1(1) {
background: url(../img/common/sprite.png) -360px -237px no-repeat;
height: 20px;
width: 20px;
}
nav70 {
background: url(../img/common/sprite.png) -380px -237px no-repeat;
height: 20px;
width: 20px;
}
nav80 {
background: url(../img/common/sprite.png) -400px -237px no-repeat;
height: 20px;
width: 20px;
}
nav60 {
background: url(../img/common/sprite.png) -420px -237px no-repeat;
height: 19px;
width: 20px;
}
nav6 {
background: url(../img/common/sprite.png) -440px -237px no-repeat;
height: 19px;
width: 20px;
}
icon4 {
background: url(../img/common/sprite.png) -460px -237px no-repeat;
height: 18px;
width: 19px;
}
icon6 {
background: url(../img/common/sprite.png) -360px -257px no-repeat;
height: 18px;
width: 19px;
}
icon1 {
background: url(../img/common/sprite.png) -379px -257px no-repeat;
height: 18px;
width: 19px;
}
icon5 {
background: url(../img/common/sprite.png) -398px -257px no-repeat;
height: 18px;
width: 19px;
}
icon2 {
background: url(../img/common/sprite.png) -417px -257px no-repeat;
height: 18px;
width: 19px;
}
icon3 {
background: url(../img/common/sprite.png) -436px -257px no-repeat;
height: 18px;
width: 19px;
}
phone {
background: url(../img/common/sprite.png) -455px -257px no-repeat;
height: 16px;
width: 16px;
}
regist {
background: url(../img/common/sprite.png) -465px -136px no-repeat;
height: 12px;
width: 12px;
}
home {
background: url(../img/common/sprite.png) -477px -136px no-repeat;
height: 12px;
width: 12px;
}
user {
background: url(../img/common/sprite.png) -471px -257px no-repeat;
height: 12px;
width: 12px;
}
web {
background: url(../img/common/sprite.png) -360px -275px no-repeat;
height: 12px;
width: 12px;
}
