.clearfix {
    display: block;
    zoom: 1;

    &:after {
        content: "";
        display: block;
        clear: both;
        font-size: 0;
        height: 0;
        visibility: hidden;
    }
}
div#carousel_top {
    @width: 960px;
    @height: 480px;
    @left: 240px;
    @btnSize: 14px;
    @borderC: #FF1955;
    @btnMargR: 10px;
    @len: 7;
    width: 1200px;
    margin: 0 auto;
    border: solid 1px;
    position: relative;

    &>.img_wrap {
        width: @width;
        height: @height;  
        margin-left: @left;
        position: relative;
        /*overflow: hidden;*/
        &>ul {
            .clearfix;
            width: @width * @len;
            /*height: @height;*/
            position: absolute;
            top: 0;
            left: 0;
            &>li {
                float: left;

                &>a {
                    &>img {
                        width: @width;
                        height: @height;
                    }
                }
            }
        }
    }
    &>.btn_wrap {
        position: absolute;
        bottom: 30px;
        right: (@width - (@btnMargR * (@len - 1) + (@btnSize + 1 * 2) * @len))/2;
        &>ul{
            .clearfix;
            &>li{
                float: left;
                &>a{
                    display: block;
                    width: @btnSize;
                    height: @btnSize;
                    margin-right: @btnMargR;
                    border: solid 1px @borderC;
                    border-radius: @btnSize;

                }
                &:last-child a{
                margin-right: 0;
                }
                .active{
                    background-color: @borderC;
                }
            }

        }
    }
}