.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#carousel_top {
  /*width: 1200px;*/
  width: 960px;
  height: 480px;
  /*top: 0;*/
  right: 0;
  /*float: right;*/
  border: solid 1px;
  position: absolute;
  /* 设置轮播图层为-1层，防止覆盖左侧弹出框内容 */
  z-index: 1;
}
div#carousel_top > ul.img_wrap {
  display: block;
  zoom: 1;
  /*width: @width * @len;*/
  position: absolute;
}
div#carousel_top > ul.img_wrap:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#carousel_top > ul.img_wrap > li {
  float: left;
}
div#carousel_top > ul.img_wrap > li > a > img {
  width: 960px;
  height: 480px;
}
div#carousel_top > ul.btn_wrap {
  position: absolute;
  bottom: 30px;
  right: 394px;
  display: block;
  zoom: 1;
}
div#carousel_top > ul.btn_wrap:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#carousel_top > ul.btn_wrap > li {
  float: left;
}
div#carousel_top > ul.btn_wrap > li > a {
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  border: solid 1px #FF1955;
  border-radius: 14px;
}
div#carousel_top > ul.btn_wrap > li:last-child a {
  margin-right: 0;
}
div#carousel_top > ul.btn_wrap > li .active {
  background-color: #FF1955;
}
