div#floor > div#floor_one_title {
  width: 100%;
  height: 53px;
  color: #333;
  line-height: 53px;
}
div#floor > div#floor_one_title > h3 {
  font-size: 24px;
  color: #ff1955;
  display: inline-block;
}
div#floor > div#floor_one_title > strong {
  font-size: 22px;
  padding: 0 7px;
  font-weight: normal;
}
div#floor > div#floor_one_title > span {
  font-size: 16px;
  text-transform: uppercase;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#floor > div#floor_two_nav {
  background-color: #fff;
}
div#floor > div#floor_two_nav > i {
  display: block;
  width: 120px;
  height: 80px;
  background: url(../img/common/sprite.png) -120px 0px no-repeat;
}
div#floor > div#floor_two_nav > div > ul {
  display: block;
  zoom: 1;
}
div#floor > div#floor_two_nav > div > ul:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#floor > div#floor_two_nav > div > ul > li {
  float: left;
}
div#floor > div#floor_two_nav > div > ul > li > a {
  color: #666;
}
div#floor > div#floor_two_nav > div > ul > li > a:hover {
  color: #fd2d63;
  text-decoration: underline;
}
