.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#nav_bar {
  /*tab按钮的高度*/
  /*tab按钮的宽度*/
  /*tab按钮的背景颜色*/
  /*tab按钮的颜色*/
  /*tab按钮的左偏移*/
  /*第一级菜单字体颜色*/
  /*第一级菜单list宽度*/
  /*第一级菜单list高度*/
  /*icon图片的尺寸*/
  /*第一级菜单list的背景颜色*/
  /* 右侧弹出面板宽度 */
  /* 右侧弹出面板高度 */
  /* 右侧弹出面板顶部padding值 */
  /* link 文字颜色 */
  /* link hover 时候的颜色 */
  /* 标题文字的颜色 */
  /* 边框颜色 */
  /* 右侧弹出面板的背景颜色 */
  /* imgbox 的背景图片宽度 */
  /* imgbox 背景图片高度 */
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  /*border: solid 1px;*/
  position: relative;
  display: block;
  zoom: 1;
}
div#nav_bar:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#nav_bar .drop_nav {
  float: left;
  height: 40px;
  width: 220px;
  opacity: 0.8;
  cursor: pointer;
  padding-left: 20px;
  position: relative;
  background-color: #FF1955;
  border-radius: 6px 6px 0 0;
}
div#nav_bar .drop_nav > span {
  display: block;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
}
div#nav_bar .drop_nav:hover {
  opacity: 1;
}
div#nav_bar .drop_nav > div.drop_tab {
  position: absolute;
  top: 40px;
  left: 0;
  width: 240px;
  /*border: solid 1px green;*/
  color: #5F5F5F;
  z-index: 10;
}
div#nav_bar .drop_nav > div.drop_tab > ul {
  height: 480px;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li {
  width: 230px;
  height: 54px;
  line-height: 54px;
  cursor: pointer;
  /* 鼠标hover list时候，字体颜色改变 */
  /* 初始化时候隐藏箭头图标 */
  /* 鼠标hover时候箭头图标显示 */
  /* nav1 */
  /* nav10 */
  /* nav2 */
  /* nav20 */
  /* nav3 */
  /* nav30 */
  /* nav4 */
  /* nav40 */
  /* nav5 */
  /* nav50 */
  /* nav6 */
  /* nav60 */
  /* nav7 */
  /* nav70 */
  /* nav8 */
  /* nav80 */
}
div#nav_bar .drop_nav > div.drop_tab > ul > li:hover {
  background-color: #FF7B9E;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li:hover > span {
  color: #fff;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li > span {
  font-size: 14px;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li > i {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 17px;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li > i.icon {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li > i.arror {
  display: none;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li:hover > i.arror {
  display: block;
  float: right;
  margin-right: 10px;
  background: url(../img/common/sprite.png) -441px -174px no-repeat;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li:nth-child(1) > i.icon {
  background: url(../img/common/sprite.png) -465px -116px no-repeat;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li:nth-child(1):hover > i.icon {
  background: url(../img/common/sprite.png) -380px -217px no-repeat;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li:nth-child(2) > i.icon {
  background: url(../img/common/sprite.png) -461px -151px no-repeat;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li:nth-child(2):hover > i.icon {
  background: url(../img/common/sprite.png) -400px -217px no-repeat;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li:nth-child(3) > i.icon {
  background: url(../img/common/sprite.png) -461px -174px no-repeat;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li:nth-child(3):hover > i.icon {
  background: url(../img/common/sprite.png) -420px -217px no-repeat;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li:nth-child(4) > i.icon {
  background: url(../img/common/sprite.png) -380px -197px no-repeat;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li:nth-child(4):hover > i.icon {
  background: url(../img/common/sprite.png) -440px -217px no-repeat;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li:nth-child(5) > i.icon {
  background: url(../img/common/sprite.png) -420px -197px no-repeat;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li:nth-child(5):hover > i.icon {
  background: url(../img/common/sprite.png) -460px -217px no-repeat;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li:nth-child(6) > i.icon {
  background: url(../img/common/sprite.png) -440px -237px no-repeat;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li:nth-child(6):hover > i.icon {
  background: url(../img/common/sprite.png) -420px -237px no-repeat;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li:nth-child(7) > i.icon {
  background: url(../img/common/sprite.png) -460px -197px no-repeat;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li:nth-child(7):hover > i.icon {
  background: url(../img/common/sprite.png) -380px -237px no-repeat;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li:nth-child(8) > i.icon {
  background: url(../img/common/sprite.png) -360px -217px no-repeat;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li:nth-child(8):hover > i.icon {
  background: url(../img/common/sprite.png) -400px -237px no-repeat;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li > ul.tab_right_box {
  display: none;
  position: absolute;
  top: 0;
  left: 240px;
  width: 520px;
  height: 470px;
  padding: 0 20px;
  /*padding-left: 30px;*/
  /*padding-right: 20px;*/
  padding-top: 10px;
  background-color: #F8F8F8;
  opacity: 0.9;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li > ul.tab_right_box > li {
  padding: 0;
  margin: 0;
  line-height: 20px;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li > ul.tab_right_box > li > h3 {
  font-size: 14px;
  border-bottom: solid 1px #999;
  padding-bottom: 10px;
  margin-top: 10px;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li > ul.tab_right_box > li > ul.tab_info {
  display: block;
  zoom: 1;
  margin-top: 10px;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li > ul.tab_right_box > li > ul.tab_info:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li > ul.tab_right_box > li > ul.tab_info > li {
  float: left;
  padding: 0 10px;
  border-right: solid 1px #999;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li > ul.tab_right_box > li > ul.tab_info > li > a {
  font-size: 12px;
  color: #666;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li > ul.tab_right_box > li > ul.tab_info > li > a:hover {
  color: #FD2D63;
  text-decoration: underline;
}
div#nav_bar .drop_nav > div.drop_tab > ul > li > ul.tab_right_box > li > ul.tab_info > li:last-child {
  border-right: none;
}
div#nav_bar > div.nav_menu {
  float: left;
  margin-left: 20px;
}
div#nav_bar > div.nav_menu > ul {
  display: block;
  zoom: 1;
}
div#nav_bar > div.nav_menu > ul:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#nav_bar > div.nav_menu > ul > li {
  height: 40px;
  float: left;
  margin: 0 10px;
  padding: 0 9px;
}
div#nav_bar > div.nav_menu > ul > li > a {
  display: block;
  line-height: 40px;
  color: #666;
  font-size: 18px;
}
div#nav_bar > div.nav_menu > ul > li > a:hover {
  color: #FD2D63;
}
div#nav_bar > div.img_box {
  position: absolute;
  width: 960px;
  height: 480px;
  /* 图片容器默认隐藏 */
  display: none;
  top: 40px;
  left: 240px;
}
div#nav_bar > div.img_box > ul {
  width: ;
}
div#nav_bar > div.img_box > ul > li {
  /* 通过绝对定位的方式让图片重叠 */
  position: absolute;
  top: 0;
  left: 0;
}
div#nav_bar > div.img_box > ul > li > a > img {
  width: 960px;
  height: 480px;
}
