.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#process {
  margin-top: 500px;
  padding: 10px 10px 20px 10px;
  background-color: #fff;
  position: relative;
  /*border: solid 1px;*/
}
div#process > div.title {
  width: 336px;
  height: 46px;
  margin-bottom: 10px;
  /* step */
  background: url(../img/common/sprite.png) 0px -299px no-repeat;
}
div#process > ul {
  /*border: solid 1px;*/
  display: block;
  zoom: 1;
}
div#process > ul:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#process > ul > li {
  width: 116px;
  height: 56px;
  float: left;
  text-align: center;
  position: relative;
  opacity: 0.8;
  margin-right: 15px;
}
div#process > ul > li:hover {
  opacity: 1;
}
div#process > ul > li > p.summary > span {
  font-size: 14px;
}
div#process > ul > li > p.summary > span > strong {
  font-weight: normal;
  font-size: 30px;
  padding-right: 2px;
  /*text-align: left;*/
}
div#process > ul > li > p.target > a {
  font-size: 16px;
  font-weight: bold;
}
div#process > ul > li:nth-child(1) span,
div#process > ul > li:nth-child(1) a {
  color: #fe9f21;
}
div#process > ul > li:nth-child(1) i {
  /* arrow01 */
  background: url(../img/common/sprite.png) -377px -40px no-repeat;
}
div#process > ul > li:nth-child(2) span,
div#process > ul > li:nth-child(2) a {
  color: #fd6862;
}
div#process > ul > li:nth-child(2) i {
  /* arrow02 */
  background: url(../img/common/sprite.png) -462px -40px no-repeat;
}
div#process > ul > li:nth-child(3) span,
div#process > ul > li:nth-child(3) a {
  color: #ff7fc0;
}
div#process > ul > li:nth-child(3) i {
  /* arrow03 */
  background: url(../img/common/sprite.png) -445px -40px no-repeat;
}
div#process > ul > li:nth-child(4) span,
div#process > ul > li:nth-child(4) a {
  color: #4dc7ee;
}
div#process > ul > li:nth-child(4) i {
  /* arrow04 */
  background: url(../img/common/sprite.png) -360px -40px no-repeat;
}
div#process > ul > li:nth-child(5) span,
div#process > ul > li:nth-child(5) a {
  color: #eb6647;
}
div#process > ul > li:nth-child(5) i {
  /* arrow05 */
  background: url(../img/common/sprite.png) -428px -40px no-repeat;
}
div#process > ul > li:nth-child(6) span,
div#process > ul > li:nth-child(6) a {
  color: #f8c423;
}
div#process > ul > li:nth-child(6) i {
  /* arrow06 */
  background: url(../img/common/sprite.png) -360px -40px no-repeat;
}
div#process > ul > li:nth-child(7) span,
div#process > ul > li:nth-child(7) a {
  color: #8692f8;
}
div#process > ul > li:nth-child(7) i {
  /* arrow07 */
  background: url(../img/common/sprite.png) -394px -40px no-repeat;
}
div#process > ul > li:nth-child(8) span,
div#process > ul > li:nth-child(8) a {
  color: #eb6647;
}
div#process > ul > li:nth-child(8) i {
  /* arrow08 */
  background: url(../img/common/sprite.png) -411px -40px no-repeat;
}
div#process > ul > li > i {
  display: block;
  width: 17px;
  height: 38px;
  position: absolute;
  /*border: solid 1px;*/
  top: 18px;
  right: -20px;
}
div#process > div.user {
  position: absolute;
  bottom: 18px;
  right: 35px;
}
div#process > div.user a {
  padding-right: 10px;
  color: #666;
}
div#process > div.user a:hover {
  color: #ff3b6d;
  text-decoration: underline;
}
div#process > div.user span.info {
  font-size: 14px;
  color: #fe9f21;
  /*margin-top: 10px;*/
  margin: 6px 6px 2px 0;
  display: block;
  /*margin-left: -2px;*/
  font-weight: bold;
  text-align: center;
}
