    <div id="nav_bar">
        <div class="drop_nav">
            <div class="drop_menu">
                <span>产品/商品分类</span>
            </div>
            <div class="drop_tab">
                <ul class="drop_wrap">
                    <% drop['menu'].forEach(function(item){ %>

                        <li>
                            <span><%- item['name'] %></span>
                            <ul class="tab_title">
                                <% item['info'].forEach(function(val){ %>
                                    <li>
                                        <span><%- val['name'] %></span>
                                        <ul class="tab_info">
                                            <% val['data'].forEach(function(cell){ %>
                                                <li>
                                                    <a href="<%- cell['url'] %>">
                                                        <%- cell['name'] %>
                                                    </a>
                                                </li>

                                            <% }) %>

                                        </ul>
                                    </li>
                                <% }) %>
                                
                            </ul>
                        </li>
                    <% }) %>
                </ul>
            </div>

        </div>
        <div class="menu"></div>
    </div>