<div id="right_bar">
    <ul>
        <li>
            <div class="rightbar_img"></div>   
            <div class="cont"></div>
        </li>
        <li>
            <div class="rightbar_img"></div>
        </li>
        <li>
            <div class="rightbar_img"></div>
        </li>
    </ul>
</div>