<div id="topbar">
	<div class="ct">
		<div class="menu">
			<ul>
				<% topbar.forEach(function(item){ %>
				<li>
					<i></i>
					<a href="<%- item['url'] %>"><%- item["value"] %></a>
				</li>
				<% }) %>
			</ul>
		</div>
		<div class="mobile">
			<div class="left">
				<img src="" alt="">
				<span></span>
			</div>
			<div class="left">
				<img src="" alt="">
				<span></span>
			</div>
		</div>
	</div>
</div>