<div id="topbar">
	<div class="ct">
		<div class="menu">
			<ul>
				<% topbar.forEach(function(item){ %>
				<li>
					<i></i>
					<a href="<%- item['url'] %>"><%- item["value"] %></a>
				</li>
				<% }) %>
			</ul>
		</div>
		<div class="mobile">
			<i></i>
			<a href="<%- mobile['url'] %>"><%- mobile['value'] %></a>
		</div>
	</div>
</div>