<div id="topbar">
	<div class="menu">
		<ul>
			<% topbar.forEach(function(item){ %>
				<li>
					<a href="<%- item['url'] %>">
						<%- item["value"] %>
					</a>
				</li>
				<% }) %>
		</ul>
	</div>
	<div class="mobile">
		<div class="left">
			<img src="" alt="">
			<span></span>
		</div>
		<div class="left">
			<img src="" alt="">
			<span></span>
		</div>
	</div>
</div>