html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt,
li {
  padding: 0;
  margin: 0;
}
body {
  font-family: "微软雅黑", SYHT, "Microsoft Yahei", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #666666;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#topbar {
  width: 100%;
  background-color: #F1F1F1;
}
div#topbar .link {
  color: #8D8D8D;
}
div#topbar .link:hover {
  color: #FD2D63;
  text-decoration: underline;
}
div#topbar div.ct {
  width: 1200px;
  height: 30px;
  margin: 0 auto;
  display: block;
  zoom: 1;
}
div#topbar div.ct:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#topbar div.ct:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#topbar div.ct div.menu {
  margin-left: 30px;
  float: left;
}
div#topbar div.ct div.menu ul {
  display: block;
  zoom: 1;
}
div#topbar div.ct div.menu ul:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#topbar div.ct div.menu ul:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#topbar div.ct div.menu ul li {
  float: left;
  line-height: 30px;
  margin-right: 40px;
  position: relative;
}
div#topbar div.ct div.menu ul li i {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 10px;
  left: -15px;
}
div#topbar div.ct div.menu ul li:nth-child(1) i {
  background: url(../img/common/sprite.png) -417px -358px no-repeat;
}
div#topbar div.ct div.menu ul li:nth-child(2) i {
  background: url(../img/common/sprite.png) -441px -358px no-repeat;
}
div#topbar div.ct div.menu ul li:nth-child(3) i {
  background: url(../img/common/sprite.png) -429px -358px no-repeat;
}
div#topbar div.ct div.menu ul li:nth-child(4) i {
  background: url(../img/common/sprite.png) -417px -370px no-repeat;
}
div#topbar div.ct div.menu ul li a {
  color: #8D8D8D;
}
div#topbar div.ct div.menu ul li a:hover {
  color: #FD2D63;
  text-decoration: underline;
}
div#topbar div.ct div.mobile {
  float: right;
  top: 0;
  right: 0;
  height: 30px;
  line-height: 30px;
  margin-right: 45px;
  position: relative;
}
div#topbar div.ct div.mobile div.top_tag i {
  position: absolute;
  background: url(../img/common/sprite.png) -436px -340px no-repeat;
  display: block;
  height: 16px;
  width: 16px;
  top: 7px;
  left: -17px;
}
div#topbar div.ct div.mobile div.top_tag a {
  color: #8D8D8D;
}
div#topbar div.ct div.mobile div.top_tag a:hover {
  color: #FD2D63;
  text-decoration: underline;
}
div#topbar div.ct div.mobile div.top_tag a:hover {
  text-decoration: none;
}
div#topbar div.ct div.mobile div.imgbox {
  display: none;
  position: absolute;
  right: -100px;
  top: 30px;
  z-index: 10;
}
div#topbar div.ct div.mobile div.imgbox ul {
  display: block;
  zoom: 1;
  border: solid 1px;
  border-radius: 5px;
  border-color: #ddd;
  width: 235px;
  background-color: #fff;
}
div#topbar div.ct div.mobile div.imgbox ul:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#topbar div.ct div.mobile div.imgbox ul:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#topbar div.ct div.mobile div.imgbox ul li {
  float: left;
  text-align: center;
  padding: 5px;
}
div#topbar div.ct div.mobile div.imgbox ul li:nth-child(2) {
  padding-left: 0;
}
div#topbar div.ct div.mobile div.imgbox ul li img {
  width: 110px;
  height: 110px;
  display: block;
}
div#topbar div.ct div.mobile div.imgbox ul li span {
  display: block;
  height: 20px;
  line-height: 20px;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#right_bar {
  /*// qq_tab的左右边距*/
  /*// 客服列表的上下间距*/
  /* 二维码尺寸*/
  width: 35px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #000;
  color: red;
}
div#right_bar > ul {
  display: block;
  zoom: 1;
  position: relative;
  top: 70%;
  right: 0;
}
div#right_bar > ul:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#right_bar > ul:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
div#right_bar > ul > li {
  float: left;
  width: 35px;
  height: 35px;
  position: relative;
}
div#right_bar > ul > li:nth-child(1) {
  position: relative;
  background: url(../img/common/sprite.png) -417px -179px no-repeat;
}
div#right_bar > ul > li:nth-child(1):hover {
  background: url(../img/common/sprite.png) -417px -214px no-repeat;
}
div#right_bar > ul > li:nth-child(1) div.qq_tab {
  width: 160px;
  height: 290px;
  color: #333;
  border: solid 1px #D2D2D2;
  border-radius: 5px;
  position: absolute;
  top: -255px;
  right: 35px;
  background-color: #E2E2E2;
  display: none;
}
div#right_bar > ul > li:nth-child(1) div.qq_tab div.qq_tab_logo {
  border-bottom: solid 1px #D2D2D2;
  padding: 10px 15px;
}
div#right_bar > ul > li:nth-child(1) div.qq_tab div.qq_tab_logo > a.logo {
  display: block;
  height: 40px;
  background: url(../img/common/sprite.png) -160px -345px no-repeat;
}
div#right_bar > ul > li:nth-child(1) div.qq_tab div.qq_tab_cont {
  padding: 10px 15px;
  border-bottom: solid 1px #D2D2D2;
}
div#right_bar > ul > li:nth-child(1) div.qq_tab div.qq_tab_cont > h3 {
  font-size: 14px;
}
div#right_bar > ul > li:nth-child(1) div.qq_tab div.qq_tab_cont > ul > li {
  line-height: 23px;
  position: relative;
  margin: 10px 0;
}
div#right_bar > ul > li:nth-child(1) div.qq_tab div.qq_tab_cont > ul > li > span {
  font-size: 14px;
}
div#right_bar > ul > li:nth-child(1) div.qq_tab div.qq_tab_cont > ul > li > a {
  opacity: 0.7;
}
div#right_bar > ul > li:nth-child(1) div.qq_tab div.qq_tab_cont > ul > li > a:hover {
  opacity: 1;
}
div#right_bar > ul > li:nth-child(1) div.qq_tab div.qq_tab_cont > ul > li > a > i {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 23px;
  width: 81px;
  background: url(../img/common/sprite.png) 0px -385px no-repeat;
}
div#right_bar > ul > li:nth-child(1) div.qq_tab div.qq_tab_foot {
  padding: 10px 15px;
  text-align: justify;
}
div#right_bar > ul > li:nth-child(1) div.qq_tab div.qq_tab_foot > h3 {
  margin-bottom: 5px;
}
div#right_bar > ul > li:nth-child(2) {
  position: relative;
  background: url(../img/common/sprite.png) -417px -74px no-repeat;
}
div#right_bar > ul > li:nth-child(2):hover {
  background: url(../img/common/sprite.png) -417px -109px no-repeat;
}
div#right_bar > ul > li:nth-child(2) div.qr_code_img {
  width: 110px;
  height: 110px;
  border: solid 1px #D2D2D2;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 35px;
  background: url(../img/common/android.png) no-repeat;
  display: none;
}
div#right_bar > ul > li:nth-child(3) {
  cursor: pointer;
  background: url(../img/common/sprite.png) -417px -249px no-repeat;
}
div#right_bar > ul > li:nth-child(3):hover {
  background: url(../img/common/sprite.png) -417px -144px no-repeat;
}
